<html>
  <head>
    <title>Karla's blog </title>
  </head>
  <body>
    <div>
      <h1><a href="https://tutorial.djangogirls.org/es/django_models/">Django Girls Blog </a></h1>
    </div>
    <div>
      <p>Subido: 02.09.2017, 13:07</p>
      <h2><a href="https://tutorial.djangogirls.org/es/django_models/">Primer post</a></h2>
    </div>
    <div>
      <p>Subido: 02.09.2017, 13:08</p>
    </div>
    <div>
      <p> Subido: 02.09.2017, 14:37 </p>
      <h2><a href="https://tutorial.djangogirls.org/es/django_models/">Mi segundo post </a></h2>
    </div>
  </body>
</html>
